.header .navbar-nav .nav-item.active .nav-link,
.header .navbar-nav .nav-item .nav-link:hover,
header.pb .header .navbar-nav .nav-item .nav-link:hover,
.view-btn,
.face.front,
.bottom-list ul li a:hover,
.card .card-body h3:hover,
.card:hover .card-body h3,
.post-nfo li:not(:first-child):hover,
.post-nfo li:not(:first-child):hover a,
.blog-single-post:hover .post_info > h3 a,
.cm-reply,
.widget-search form button,
.widget-catgs ul li a,
.ps-info > h3 a:hover,
.btn1,
.blog-grid-posts .post_info > a:hover,
.cont-links li a,
.cont-links li span,
.socio-links li a:hover,
.cont_info li i,
.cont_info li a,
.social_links li a:hover,
.view-change ul.nav-tabs .nav-link.active,
.card_bod_full .card-footer .btn-default,
.btn-default,
.sidebar.layout2 .ps-info > strong,
.more-feat i,
.contct-nf > span,
.apartment-sec .rate-info h5,
.comment-info:before,
.price > h2,
.agent_info > strong,
.agent:hover .agent_info h3 a,
.list-products .card:hover .card-body h3,
.social-links li a:hover,
.slick-prev:focus,
.slick-next:focus,
.slick-prev:before,
.slick-next:before,
.banner_text .card .card-footer > a,
.catg-icon > i,
.map-city-links ul li a:hover,
a.link,
.selected,
.dropdown-item.active, 
.dropdown-item:active,
.post-share > a:hover,
.footer-list i,
.h-card-body .title,
body ul.post-nfo a:hover,
.drop-menu.active .select > span, .drop-menu.active .select i, .drop-menu .dropeddown li:hover,
.header .navbar-nav .submit-btn a,
.header .navbar-nav .signin-btn a:hover,
.dropdown-item:focus, .dropdown-item:hover,
a,
.page-content .toggle-item h2:before,
.h-page-card .title a:hover {
	color: #000;
}

.header .navbar-nav .submit-btn a {
    color: #000 !important;
}

.cta,
.banner-search .btn,
.explore-feature .card .card-body i,
.cluster-visible,
.face.back,
.widget-tags > ul li a,
.post_info > a:hover,
.pagination .page-item.active .page-link,
.pagination .page-item .page-link:hover,
.contact_form > form button:hover,
.post-comment-sec form button:hover,
.input-field input[type="radio"]:checked + label span,
.input-field input[type="checkbox"]:checked + label span,
.features-dv .input-field input[type="checkbox"] + label span,
.btn2,
.price:hover .btn-default,
.discover-text .btn-default,
.slick-prev:hover,
.slick-next:hover,
.banner_text .rate-info,
.btn-default.st1,
.categories-info:hover,
.card .card-footer a .la-heart-o:hover,.table-compare.table-hover>tbody>tr:not(:last-child):hover>td,.btn-default:hover,.favorites-actions .remove-from-favorites i.la-heart-o,
.footer-social a:hover,
.signin-btn b:before,
.success-message, 
.error-message,
.btn.btn-local-primary,
.block-header,
body:after,.menu-onmap li label:hover,.menu-onmap li.active label,
.model-item .title:hover,
body .winter_dropdown_tree .input-group-addon,
.currency-selector .drop-menu .dropeddown li:hover,
.language-selector .drop-menu .dropeddown li:hover,
.blog-single-post:hover .post_info > a {
	background-color: #000;
}

.marker-arrow {
    border-color: #000 transparent transparent;
}

.marker-cluster div, .cluster div {
    background: #000 !important;
}

.marker-cluster div:before, .cluster div:before {
    border-color: #000;
    -webkit-box-shadow: inset 0 0 0 4px #000;
    box-shadow: inset 0 0 0 4px #000;
}

.header .navbar-nav .submit-btn a,
.view-btn,
.cluster-visible:before,
.face.front,
.face.back,
.blog-single-post > blockquote,
.btn1,
.btn-default,
.btn.btn-local-primary,
.currency-selector .drop-menu .dropeddown li:hover,.menu-onmap li.active label:before,.menu-onmap li label:hover:before,
.language-selector .drop-menu .dropeddown li:hover,.menu-onmap li.active label:before,.menu-onmap li label:hover:before {
	border-color: #000;
}

.blog-img:before, .agent_img:before,
.bfr:before,
.blog-img:before, .agent_img:before,
.popular-cities .card .overlay,
.banner-search .btn:hover,
.banner::after,
.view-btn:hover, .view-btn:focus, .view-btn.active,
.sbmt-btn:hover,
.card .img-block:before, .card .img-block:after, .popular-cities .card:before, .popular-cities .card:after, .banner-search .btn:before, .banner-search .btn:after, .intro-content a:before, .intro-content a:after, .sbmt-btn:before, .sbmt-btn:after, .btn2:before, .btn2:after, .btn-default:before, .btn-default:after,
.card .img-block .overlay,
.srch-btn .overlay {
    background: rgba(0, 0, 0, 0.79);
}

.currency-selector .drop-menu .dropeddown li,
.language-selector .drop-menu .dropeddown li,
.currency-selector .drop-menu .dropeddown,
.language-selector .drop-menu .dropeddown,
.top-header {
    background: #000;
    border-bottom: 1px solid #000;
}

a:hover {
    color: #232425;
}